<br>
<br>
<h2>Love Letters Book!</h2>
<br>
<br>
<%= link_to "Open Love Letters Book", controller: "posts" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>The current date and time are: </p>
<%= t = Time.now %>
<p>Thank you for reading!</p>
